[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
sympy = "*"
piplint = "*"
autopep8 = "*"
flask = "*"
pymysql = "*"
flask-sqlalchemy = "*"
numpy = "*"

[requires]
python_version = "3.7"
